.idea/
temp/
data/__pycache__/
notebooks/.ipynb_checkpoints/
unitests/.pytest_cache/
unitests/__pycache__/
utils/__pycache__/
config/__pycache__/
model/__pycache__/
scripts/__pycache__/
trainer/__pycache__/
mlruns/